{% extends "layout.html" %}
{% block head %}
  <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PassGuard - Home</title>
  <link rel="stylesheet" href="/static/home.css">
  <link rel="icon" href="/static/images/logo.png">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
{% endblock %}
{% block nav %}
<nav>
  <ul>
    <li><a class="active" href="home.html">Home</a></li>
    <li><a href="About.html">About PassGuard</a></li>
    <li><a href="Getintouch.html">Get in touch</a></li>
    <li><a href="login.html">Login</a></li>
    <li><a href="create.html">Create An Account</a></li>
  </ul>
</nav>
{% endblock %}
{% block content %}
  <div class="container">
    <div class="row">
      <div id="intro" class="col-md-6">
        <h1 class="heading">PassGuard</h1>
        <p>PassGuard is a password manager that helps you to store your passwords in a secure way. It uses a strong encryption algorithm to encrypt your passwords and store them in a secure way. You can access your passwords from any device and any location. PassGuard is a free and open-source software.</p>
        <a href="create.html" class="btn btn-primary">Create An Account</a>
        <a href="login.html" class="btn btn-primary"> Login into your account</a>
      </div>
      <div class="col-md-6">
        <h1 class="features">Features</h1>
        <ul>
          <li class="listele">Secure password storage</li>
          <li class="listele">Strong encryption algorithm</li>
          <li class="listele">Access your passwords from any device</li>
          <li class="listele">Free and open-source software</li>
        </ul>
      </div>
      <div class="col-md-6">
        <a class="learnmore" href="About.html">Learn more</a>
      </div>
      <div class="col-md-6">
        <a class="learnmore" href="Getintouch.html">Get in touch</a>
      </div>
    </div>
    <div id="col-md-6">
      <h1 class="heading">PassGuard in Terminal!</h1>
      <p class="listele">If you want a local terminal tool PassGuard Got you!!</p>
      <ul>
        <li class="listele">Feel Free To Check My <span><a class="learnmore" href="https://github.com/Hoodahashem/PassGuard/tree/main/Terminal-Tool">Terminal Tool!!</a></span></li>
      </ul>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
{% endblock %}
