<!DOCTYPE html>
<html lang="en">
{% block head %}
{% endblock %}
<body>
  <header>
    <div class="container">
      <a href="home.html" class="logo">
          <img src="/static/images/logo.png" alt="logo">
          <li><a class='passele' href="home.html">PassGuard</a></li>
      </a>
      <nav>
        {% block nav %}
        {% endblock %}
      </nav>
    </div>
  </header>
  <div class="container">
    {% block content %}{% endblock %}
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  {% if footer %}
    <footer>
      <div class="container2">
        <p>Author: <span class="Author">Mahmoud Hashem</span></p>
        <ul class="social-links">
          <li><a href="https://twitter.com/MahmoudHashem26" target="_blank">Twitter</a></li>
          <li><a href="https://github.com/Hoodahashem" target="_blank">GitHub</a></li>
        </ul>
        <p>&copy; 2024 All rights reserved.</p>
      </div>
    </footer>
  {% endif %}
</body>
</html>
